* {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: sans-serif;
}

@media (max-width: 480px) {
  :root {
    font-size: 1.25vw;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  :root {
    font-size: 1.25vw;
  }
}

@media (min-width: 640px) and (max-width: 960px) {
  :root {
    font-size: 1.25vw;
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  :root {
    font-size: 1.25vw;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 2560px) {
  :root {
    font-size: 1.25vw;
  }
}

:root {
  --space-0: 0rem;
  --space-1: 0.0625rem;
  --space-025: 0.125rem;
  --space-050: 0.25rem;
  --space-100: 0.5rem;
  --space-125: 0.625rem;
  --space-150: 0.75rem;
  --space-200: 1rem;
  --space-250: 1.25rem;
  --space-300: 1.5rem;
  --space-350: 1.75rem;
  --space-400: 2rem;
  --space-450: 2.25rem;
  --space-500: 2.5rem;
  --space-600: 3rem;
  --space-700: 3.5rem;
  --space-800: 4rem;
  --space-900: 4.5rem;
  --space-1000: 5rem;
  --space-1100: 5.5rem;
  --space-1200: 6rem;
  --space-1400: 7rem;
  --space-1600: 8rem;
  --space-1800: 9rem;
  --space-2000: 10rem;
}

:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
}

:root {
  --red-50: #fff2f1;
  --red-100: #ffe1df;
  --red-200: #ffc8c5;
  --red-300: #ffa29d;
  --red-400: #ff6c64;
  --red-500: #ff3e34;
  --red-600: #ed2015;
  --red-700: #c8170d;
  --red-800: #a5170f;
  --red-900: #881a14;
  --red-950: #4b0804;
}
