/* GLOBAL PROPERTIES*/

/* VARIABLES START */

// Spacing
$space-0: 0;
$space-1: 1;
$space-025: 2;
$space-050: 4;
$space-100: 8;
$space-125: 10;
$space-150: 12;
$space-200: 16;
$space-250: 20;
$space-300: 24;
$space-350: 28;
$space-400: 32;
$space-450: 36;
$space-500: 40;
$space-600: 48;
$space-700: 56;
$space-800: 64;
$space-900: 72;
$space-1000: 80;
$space-1100: 88;
$space-1200: 96;
$space-1400: 112;
$space-1600: 128;
$space-1800: 144;
$space-2000: 160;

//

//red
$red-50: #fff2f1;
$red-100: #ffe1df;
$red-200: #ffc8c5;
$red-300: #ffa29d;
$red-400: #ff6c64;
$red-500: #ff3e34;
$red-600: #ed2015;
$red-700: #c8170d;
$red-800: #a5170f;
$red-900: #881a14;
$red-950: #4b0804;
/* VARIABLES END */
