@import './01_Quarks.css';

.W_SmoothScroll {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
}

.W_NavContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--space-100);
  background-color: var(--foreground-secondary);
  border-radius: var(--radius-small);
}
.W_NavigationLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-100);
  border-radius: var(--radius-small);
  gap: var(--space-200);
  color: var(--zinc-100);
}

.W_HeroArticles {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}
.W_Badge {
  display: flex;
  flex-direction: column;
}

.W_Badge > .A_Body {
  color: var(--text-ternitary);
}

.W_ShotGrid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: var(--space-100);
}

.W_FooterForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.W_FooterDescriptor {
  display: flex;
  flex-direction: column;
}

.W_FooterDescriptor > .A_Caption {
  width: 50%;
}

.W_ArtilcesFilter {
  display: flex;
  padding: var(--space-200);
  justify-content: center;
  align-items: center;
  gap: var(--space-100);
}



/* Ксюша код */


/* Поиск */
.W_Search {
  display: flex;
  padding: 0px 16px 32px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

/* Article Title */
.W_ArticleResume {
  display: flex;
  padding-bottom: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  align-self: stretch;

  color: #F2F2F2;
  font-family: 'Montreal Regular', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 55px */
  letter-spacing: -1.5px;
}

.W_ArticleAuthor {
  display: flex;
  padding-bottom: 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  color: rgba(242, 242, 242, 0.70);

  font-family: 'Montreal Regular', sans-serif;
  font-size: var(--font-size-2xl, 24px);
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--font-line-height-8, 32px); /* 133.333% */
  letter-spacing: var(--font-letter-spacing-normal, 0px);
}

.W_Tags {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}