@import '01_Quarks.css';

@font-face {
  font-family: 'PragmaticaBook', sans-serif;
  src: url('../font/Pragmatica-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* TYPOGRAPHY */
.A_Display {
  font-family: 'PragmaticaBook', sans-serif;
  font-weight: normal;
  font-size: var(--space-900);
  line-height: var(--space-900);
  padding-bottom: var(--space-200);
}

.A_Large-title {
  font-family: 'PragmaticaBook', sans-serif;
  font-size: var(--space-700);
  line-height: var(--space-700);
}

.A_Title-1 {
  font-family: 'PragmaticaBook', sans-serif;
}

.A_Title-2 {
  font-family: 'PragmaticaBook', sans-serif;
}

.A_Title-3 {
  font-family: 'PragmaticaBook', sans-serif;
}

.A_Subtitle-1 {
  font-family: 'PragmaticaBook', sans-serif;
}

.A_Subtitle-2 {
  font-family: 'PragmaticaBook', sans-serif;
}

.A_Subtitle-2-stronger {
  font-family: 'PragmaticaBook', sans-serif;
}

.A_Body {
  font-family: 'PragmaticaBook', sans-serif;
}

.A_Body-stronger {
  font-family: 'PragmaticaBook', sans-serif;
}

.A_Caption-1 {
  font-family: 'PragmaticaBook', sans-serif;
}

.A_Caption-2 {
  font-family: 'PragmaticaBook', sans-serif;
}

.A_Caption-2-stronger {
  font-family: 'PragmaticaBook', sans-serif;
}

/* LINKS */
.A_links {
  color: white;
}

.A_links:visited {
  color: white;
}
/* IMAGES */

.A_logo-small {
  display: flex;
  align-items: center;
  justify-content: start;
}
