@import '01_Quarks.css';

@font-face {
  font-family: 'PragmaticaBook', sans-serif;
  src: url('../font/Pragmatica-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.A_Display {
  font-family: 'PragmaticaBook', sans-serif;
  font-weight: normal;
  font-size: var(--space-900);
  line-height: var(--space-900);
  padding-bottom: var(--space-200);
}

.A_Large-title {
  font-family: 'PragmaticaBook';
  font-size: var(--space-700);
  line-height: var(--space-700);
}

.A_Title-1 {
}

.A_Title-2 {
}

.A_Title-3 {
}

.A_Subtitle-1 {
}

.A_Subtitle-2 {
}

.A_Subtitle-2-stronger {
}

.A_Body {
}

.A_Body-stronger {
}

.A_Caption-1 {
}

.A_Caption-2 {
}

.A_Caption-2-stronger {
}

/* TYPE SCALE END*/
