@import './01_Quarks.css';

.O_Navigation {
  padding: var(--space-200);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.O_Carousel {
  padding: var(--space-100);
  background-color: var(--foreground-primary);
  border: var(--space-1) solid var(--stroke-quaternary);
  border-radius: var(--radius-small);
}

.O_ArticleCard {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: var(--space-100);
  background-color: var(--foreground-primary);
  border: var(--space-1) solid var(--stroke-quaternary);
  border-radius: var(--radius-small);
}
