.S_GalleryGrid {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  box-sizing: border-box;
}

.S_Footer {
  display: flex;
  flex-direction: row;
  background-color: var(--background-dark);
  padding: var(--space-200);
  justify-content: space-between;
  gap: var(--space-200);
  color: var(--text-inverted);
}
