@import './00_DesignSystem.css';

.L_Hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
}
.L_Gallery {
  display: grid;
  grid-template-columns: 2fr 7fr;
  gap: var(--space-100);
}
