a {
  text-decoration: none;
}

span {
  &.Secondary {
    color: var(--textSecondary);
  }
  &.Green {
    color: var(--buttonsSecondary);
  }
}

@media (max-width: 700px) {
  span {
    &.AdaptiveHidden {
      display: none;
    }
  }
}

#ksyusha {
  background-image: url('../images/aboutus/ksyuha.jpg');
}

#marina {
  background-image: url('../images/aboutus/marina.jpg');
}

html {
  background-color: var(--bgColor);
}
body {
  padding-top: 116px;
  overflow-x: hidden;
}

.O_Search {
  display: flex;
  margin: 50px auto;
  align-items: center;
  gap: 10px;
  max-width: 30%;
}

.A_SearchInput {
  border: 1px solid black;
  border-radius: 10px;
  width: 250px;
  height: 48px;
  background-color: transparent;
  padding: 1px 8px;
}

&:focus {
  border-color: inherit;
  box-shadow: none;
  outline: none;
}

.A_SearchButton {
  padding: 16px 16px;
  background-color: black;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  user-select: none;
}

&.disable {
  background-color: lightgray;
  color: grey;
  cursor: default;

}