@import './stylesheets/00_DesignSystem.css';
@import './stylesheets/01_Quarks.css';

.T_Hero {
  width: 100dvw;
  height: 100dvh;
}

.T_Hero-image {
  display: flex;
  flex-grow: 1;
  height: 100%;
}
